.section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 500px;

	.wrapper {
		max-width: 1480px;
		width: 98%;
		display: flex;
		flex-direction: column;

		padding-bottom: 30px;

		.top {
			padding-top: 60px;
			padding-left: 5px;

			display: grid;
			grid-template-columns: 1fr 1fr;

			.header {
				width: fit-content;
				font-size: 40px;
				font-weight: 500;
			}
		}

		.bottom {
			padding-left: 5px;
			display: grid;
			grid-template-columns: 1fr 1fr;

			margin-top: 70px;
			width: 100%;
			padding-bottom: 50px;
			border-bottom: 2px solid rgb(231, 231, 231);

			.texts {
				display: flex;
				flex-direction: column;

				gap: 20px;

				.text {
					color: rgb(14, 14, 14);
					font-family: Montserrat;
					font-size: 14px;
					letter-spacing: 0.5px;
				}
			}
		}
	}
}

@media (max-width: 1740px) {
	.section .wrapper {
		.top {
			grid-template-columns: 1fr 1fr 140px;
		}
		.bottom {
			grid-template-columns: 1fr 1fr 140px;
		}
	}
}

@media (max-width: 600px) {
	.section {
		.wrapper {
			.top {
				grid-template-columns: 1fr;
				.header {
					font-size: 8vw;
				}
				.fillerTop {
					display: none;
				}
			}
			.bottom {
				.fillerBottom {
					display: none;
				}
			}
		}
	}
}
