.section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.wrapper {
		max-width: 1480px;
		width: 100%;
		display: flex;
		flex-direction: column;

		height: fit-content;
		padding-bottom: 30px;

		.bottom {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr 1fr;
			border-top: 2px solid rgb(231, 231, 231);

			.texts {
				max-width: 600px;
				display: flex;
				flex-direction: column;
				height: fit-content;

				.subHeader {
					font-size: 26px;
					font-weight: 600;
					margin-top: 50px;
					margin-bottom: 15px;
				}
				.services {
					font-family: Montserrat;
					font-size: 14px;

					p {
						margin: 0;
						padding: 10px 0;

						border-bottom: 1px solid #e9e9e9;

						&:hover {
							background-color: rgba(224, 224, 224, 0.158);
						}
					}
				}
			}
		}
	}
}

// @media (max-width: 1580px) {
// 	.section .wrapper {
// 		grid-template-columns: 1fr 1fr 140px;
// 	}
// }

@media (max-width: 1740px) {
	.section .wrapper {
		.top {
			grid-template-columns: 1fr 1fr 140px;
		}
		.bottom {
			grid-template-columns: 1fr 1fr 140px;
		}
	}
}
