.fourWrapper {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	z-index: 1;

	.four {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 10px;
		transition: all 0.5s ease;
		opacity: 1;

		.small {
			position: relative;
			width: fit-content;
			height: fit-content;
			width: 100%;
			height: 100%;

			transition: all 0.5s ease;

			.current {
				position: relative;

				object-fit: fill;
				width: 100%;
				height: 100%;

				transition: all 0.5s ease;
				cursor: pointer;
			}
			.next {
				position: absolute;
				object-fit: fill;
				width: 100%;
				height: 100%;
				z-index: 1;

				transition: all 0.5s ease;

				opacity: 0;
				cursor: pointer;
			}
		}
	}
}
