.section {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 200px;

	user-select: text;

	.wrapper {
		padding-left: 5px;
		max-width: 1480px;
		width: 98%;
		display: flex;
		flex-direction: column;
		height: 400px;

		.top {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr 1fr;

			.header {
				width: max-content;
				font-size: 18px;
				font-weight: 500;
				font-family: Montserrat;
			}
		}

		.bottom {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr 1fr;

			.texts {
				max-width: 600px;

				gap: 20px;
				color: rgb(14, 14, 14);
				font-family: Montserrat;
				font-size: 14px;

				.block {
					.subtitle {
						margin-top: 30px;
						font-size: 13px;
						font-weight: 600;
					}
					.info {
						margin-top: 8px;
					}
				}
			}
		}
	}
}

@media (max-width: 1740px) {
	.section .wrapper {
		.top {
			grid-template-columns: 1fr 1fr 140px;
		}
		.bottom {
			grid-template-columns: 1fr 1fr 140px;
		}
	}
}

@media (max-width: 600px) {
	.section {
		.wrapper {
			width: 90%;
			padding: 10px;
			.top {
				grid-template-columns: 1fr;
				.header {
					width: fit-content;
				}
			}
			.bottom {
				grid-template-columns: 1fr;
			}
		}
	}
}
