.section {
	width: 100%;
	// height: 1300px;
	height: fit-content;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 150px;
	// margin-bottom: 350px;

	.wrapper {
		display: grid;
		grid-template-columns: 5fr 7fr;
		max-width: 1480px;
		width: 100%;
		// height: 700px;
		height: 100%;
		height: fit-content;
		.left {
			padding: 5px;
			height: fit-content;

			.header {
				font-size: 44px;
				letter-spacing: 3px;
			}

			.subHeader {
				letter-spacing: 1.3px;
				margin-top: 31px;
				font-weight: 600;
				font-size: 17px;
				font-family: Montserrat;
			}

			.text {
				max-width: 436px;
				margin-bottom: 45px;

				.step {
					margin-top: 17px;
				}

				p {
					margin: 0;
					font-size: 14px;
					font-family: Montserrat;
					line-height: 22px;
					font-weight: 500;
					color: rgb(104, 104, 104);

					.textLink {
						text-decoration: underline;
						padding: 0 4px;
					}
				}
			}

			.linkLicences {
				// margin-top: 45px;
				margin-bottom: 10px;
				font-weight: 500;
				font-size: 15px;
				font-family: Montserrat;
				text-decoration: underline;
				color: rgb(41, 41, 41);
			}
		}

		.right {
			margin-top: 110px;

			border-top: 2px solid rgb(231, 231, 231);
			height: fit-content;

			.box {
				display: flex;
				margin: 0;
				padding: 0;
				margin: 10px 0px;

				border-bottom: 2px solid rgb(231, 231, 231);
				padding: 10px 15px 15px 10px;
				gap: 10px;

				.num {
					font-family: Montserrat;
					font-weight: 300;
					margin-top: 4px;
					font-size: 14px;
					color: rgb(41, 41, 41);
				}

				.name {
					p {
						margin: 0;

						font-size: 60px;
						font-weight: 300;
					}
				}
			}
		}
	}
}

.underline_one {
	color: #000000; /* Цвет обычной ссылки */
	position: relative;
	cursor: pointer;
	text-decoration: none; /* Убираем подчеркивание */
}
.underline_one:after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	bottom: -2px;
	width: 0;
	height: 2px; /* Высота линии */
	background-color: black; /* Цвет подчеркивания при исчезании линии*/
	transition: width 1s; /* Время эффекта */
}

.underline_one:hover:after {
	content: "";
	width: 100%;
	display: block;
	position: absolute;
	left: 0;
	bottom: -2px;
	height: 2px; /* Высота линии */

	transition: width 1s; /* Время эффекта */
}

@media (max-width: 1140px) {
	.section {
		.wrapper {
			grid-template-columns: 1fr 2fr;
			// grid-template-rows: 1fr 1fr;

			// .left {
			// 	transform: translateY(300px);
			// }
			// .right {
			// 	transform: translateY(300px);
			// }
		}
	}
}

@media (max-width: 900px) {
	.section {
		// height: 1200px;
		.wrapper {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;

			.left {
				padding: 5px;

				.text {
					width: fit-content;
				}
			}

			.right {
				margin-top: 50px;

				.box {
					.name {
						p {
							width: min-content;
							font-size: 7vw;
						}
					}
				}
			}
		}
	}
}
