.section {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 500px;
	margin-bottom: 200px;

	.wrapper {
		max-width: 1480px;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;

		.texts {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-end;

			.midText {
				width: 410px;
				align-self: flex-end;

				:first-child {
					font-weight: 500;
					margin-bottom: 10px;
				}

				p {
					margin: 0;
					font-size: 15px;
					font-family: Montserrat;
					line-height: 24px;
				}
			}

			.logoName {
				margin-top: 40px;
				font-weight: 600;
				font-size: 18px;
				text-align: end;
			}
		}
	}
}

@media (max-width: 1740px) {
	.section .wrapper {
		grid-template-columns: 1fr 140px;
	}
}

@media (max-width: 600px) {
	.section {
		margin-top: 300px;
		margin-bottom: 100px;

		.wrapper {
			width: 90%;

			grid-template-columns: 1fr;

			.texts {
				padding: 10px;

				.midText {
					width: fit-content;
				}
			}
		}
	}
}
