.section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.wrapper {
		max-width: 1480px;
		width: 100%;
		display: flex;
		flex-direction: column;

		height: fit-content;
		padding-bottom: 30px;

		.bottom {
			padding-top: 30px;
			width: 100%;
			display: grid;
			grid-template-columns: 1fr 1fr;
			border-top: 2px solid rgb(231, 231, 231);

			.texts {
				max-width: 600px;
				display: flex;
				flex-direction: column;
				height: fit-content;

				.advantage {
					color: rgb(14, 14, 14);
					font-family: Montserrat;
					letter-spacing: 0.5px;
					border-bottom: 2px solid rgb(231, 231, 231);

					display: flex;
					justify-content: space-between;
					align-items: center;

					padding-top: 10px;
					padding-bottom: 25px;

					.text {
						font-family: Montserrat;
						font-size: 15px;
					}

					.num {
						display: flex;
						transition: all 0.2s ease;
						justify-content: center;
						align-items: center;
						min-width: 33px;
						min-height: 33px;

						background-color: black;
						color: white;
						border-radius: 50%;
					}
				}
			}
		}
	}
}


@media (max-width: 1740px) {
	.section .wrapper {
		.top {
			grid-template-columns: 1fr 1fr 140px;
		}
		.bottom {
			grid-template-columns: 1fr 1fr 140px;
		}
	}
}
