.section {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.wrapper {
		max-width: 1480px;
		width: 100%;
		display: flex;
		flex-direction: column;

		height: 400px;

		.top {
			padding-top: 60px;
			width: 100%;
			display: grid;
			grid-template-columns: 1fr 1fr;

			.fillerTop {
				width: 100%;
			}

			.header {
				width: 100%;

				font-size: 56px;
				font-weight: 300;
				margin-bottom: 50px;
			}
		}

		.bottom {
			padding-top: 20px;
			width: 100%;
			display: grid;
			grid-template-columns: 1fr 1fr;

			border-top: 2px solid rgb(231, 231, 231);

			.fillerBottom {
				width: 100%;
			}

			.texts {
				width: 100%;
				width: fit-content;
				max-width: 575px;

				display: flex;
				gap: 20px;
				color: rgb(14, 14, 14);
				font-family: Montserrat;
				font-size: 14px;
				letter-spacing: 0.5px;

				.text1 {
					flex: 1;
				}
				.text2 {
					flex: 1;
				}
			}
		}
	}
}

@media (max-width: 1740px) {
	.section .wrapper {
		.top {
			grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 100px;
		}
		.bottom {
			grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 100px;
		}
	}
}

@media (max-width: 920px) {
	.section .wrapper {
		padding: 10px;
		width: 90%;

		.top {
			grid-template-columns: 1fr;

			.header {
				font-size: 11vw;
			}
			.fillerTop {
				display: none;
			}
		}
		.bottom {
			grid-template-columns: 1fr;

			.fillerBottom {
				display: none;
			}
		}
	}
}
