.section {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	margin-top: 400px;

	.titleWrapper {
		width: 100%;
		max-width: 1480px;

		.title {
			text-align: left;
			font-size: 46px;
			max-width: 470px;
		}
	}

	.wrapper {
		max-width: 1920px;
		width: 100%;
		height: fit-content;

		.container {
			margin-top: 150px;
			border-top: 2px solid rgb(231, 231, 231);
		}
	}
	.subtitle {
		display: flex;
		margin: 0;
		padding: 0;
		margin: 10px 0px;
		margin-top: 125px;
		padding: 10px 15px 15px 10px;
		gap: 5px;
		justify-content: center;

		.num {
			font-family: Montserrat;
			font-weight: 300;
			margin-top: 4px;
			font-size: 14px;
			color: rgb(41, 41, 41);
		}

		.name {
			p {
				margin: 0;

				font-size: 60px;
				font-weight: 300;
			}
		}
	}
}

@media (max-width: 600px) {
	.section {
		.titleWrapper {
			.title {
				font-size: 8vw;
			}
		}
		.wrapper {
			.container {
				margin-top: 30px;
			}
		}
	}
}
