@import url("./fonts/Lato/_lato.scss");
@import url("./fonts/Montserrat/_montserrat.scss");

html {
	font-family: "Lato";
	margin: 0;
	padding: 0;

	user-select: none;
	height: 100vh;

	-ms-overflow-style: none; /* IE и Edge */
	scrollbar-width: none; /* Firefox */
}

body {
	margin: 0;
	padding: 0;

	height: 100vh;
}

::-webkit-scrollbar {
	display: none;
}

.disableScroll {
	height: 100%;
	overflow-y: hidden;
}

a {
	text-decoration: none;
	color: black;
}

img {
	user-select: none; /*запрет на перенос текста*/
}

.App {
	overflow: hidden;
}
